@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">WITAJ !</h1>
    <p>Strona stworzona przez studentkę <a href="https://www.wsb.pl">Wyższej Szkoły Bankowej</a> na potrzeby zadania domowego.</p>
    <p>Strona stwotrzona za pomocą technologi ASP.NET Core</p>
    <img src="https://static.gunnarpeipman.com/wp-content/uploads/2020/09/aspnet-featured.png.webp" alt="Zdjęcie" />
</div>